/************************************************************************************
Project Name	: Creating Margin
Created			  : 3rd Feb 2016 
Created By		: xxxxxxxxxx xxxxxx
Purpose			  : xxxxxxxxxxxxxxxxx
*************************************************************************************/

/*@font-face {
	font-family: 'Lato-Regular';
	src: url('../fonts/Lato-Regular.ttf') format('truetype');
}*/

.push-5 {
    margin-bottom: 5px;
}
.padding-75-r{
    padding-right: 75px;
}
.padding-10-r{
    padding-right: 10px;
}
.padding-20{
    padding: 20px;
}
.padding-20-r{
    padding-right: 20px;
}
.padding-30{
    padding: 30px;
}
.padding-40{
    padding: 40px;
}
.padding-15-b{
    padding-bottom: 15px;
}
.padding-30-b{
    padding-bottom: 30px;
}
.padding-50{
    padding:50px;
}
.padding-50-b{
    padding-bottom: 50px;
}
.padding-60-b{
    padding-bottom: 60px;
}
.padding-20-t{
    padding-top: 20px;
}
.padding-20-l{
    padding-left: 20px;
}
.padding-10-t{
    padding-top: 10px;
}
.padding-20-b{
    padding-bottom: 20px;
}
.padding-30-t{
    padding-top: 30px; 
}
.padding-40-t{
    padding-top: 40px; 
}
.padding-40-b{
    padding-bottom: 40px; 
}
.push-5-t {
    margin-top: 5px;
}
.push-5-r {
    margin-right: 5px;
}
.push-5-l {
    margin-left: 5px;
}
.push-10 {
    margin-bottom: 10px;
}
.push-10-t {
    margin-top: 10px;
}
.push-10-r {
    margin-right: 10px;
}
.push-10-l {
    margin-left: 10px;
}
.push-15 {
    margin-bottom: 15px;
}
.push-15-t {
    margin-top: 15px;
}
.push-15-r {
    margin-right: 15px;
}
.push-15-l {
    margin-left: 15px;
}
.push-20 {
    margin-bottom: 20px;
}
.push-20-t {
    margin-top: 20px;
}
.push-20-r {
    margin-right: 20px;
}
.push-20-l {
    margin-left: 20px;
}
.push-30 {
    margin-bottom: 30px;
}
.push-30-t {
    margin-top: 30px;
}
.push-26-t {
    margin-top: 26px;
}
.push-30-r {
    margin-right: 30px;
}
.push-30-l {
    margin-left: 30px;
}
.push-40{
  margin: 40px;
}
.push-40-r{
  margin-right: 40px;
}
.push-40-l{
  margin-left: 40px;
}
.push-35-t{
  margin-top: 35px;
}
.push-40-t{
  margin-top: 40px;
}
.push-50 {
    margin-bottom: 50px;
}
.push-50-t {
    margin-top: 50px;
}
.push-50-r {
    margin-right: 50px;
}
.push-50-l {
    margin-left: 50px;
}
.push-60 {
    margin-bottom: 60px;
}
.push-60-t {
    margin-top: 60px;
}
.push-60-r {
    margin-right: 60px;
}
.push-60-l {

    margin-left: 60px;
}
.push-150 {
    margin-bottom: 150px;
}
.push-150-t {
    margin-top: 150px;
}
.push-150-r {
    margin-right: 150px;
}
.push-150-l {
    margin-left: 150px;
}
.pulldown {
    position: relative;
    top: 50px;
}
.remove-margin {
    margin: 0 ;
}
.remove-margin-t {
    margin-top: 0;
}
.remove-margin-r {
    margin-right: 0;
}
.remove-margin-b {
    margin-bottom: 0;
}
.remove-margin-l {
    margin-left: 0;
}
.remove-padding {
    padding: 0px;
}
.remove-padding-t {
    padding-top: 0;
}
.remove-padding-r {
    padding-right: 0;
}
.remove-padding-b {
    padding-bottom: 0;
}
.remove-padding-l {
    padding-left: 0;
}
.align-v {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.align-v.align-v-fwidth {
    width: 100%;
}
.border {
    border: 1px solid #e9e9e9;
}
.border-t {
    border-top: 1px solid #e9e9e9;
}
.border-r {
    border-right: 1px solid #e9e9e9;
}
.border-b {
    border-bottom: 1px solid #e9e9e9;
}
.border-l {
    border-left: 1px solid #e9e9e9;
}
.font-w300 {
    font-weight: 300;
}
.font-w400 {
    font-weight: 400;
}
.font-w600 {
    font-weight: 600;
}
.font-w700 {
    font-weight: 700;
}
.font-s10{
    font-size: 10px ;
}
.font-s12 {
    font-size: 12px;
}
.font-s13 {
    font-size: 13px;
}
.font-s14 {
    font-size: 14px;
}
.font-s16 {
    font-size: 16px;
}
.font-s18 {
    font-size: 18px;
}
.font-s20 {
    font-size: 20px;
}
.font-s24 {
    font-size: 24px;
}
.text-white{
    color: #fff;
}
a, button, input, a:focus {outline: 0;}
li{list-style-type: none;display: inline;}

body{ text-transform: uppercase;color: #fff;}
.create-margin { 
  background-image: -webkit-linear-gradient(#6292c2, #190a0d );
  background-image: -o-linear-gradient(#6292c2 , #190a0d);
  background-image: -moz-linear-gradient(#6292c2 , #190a0d ); 
  background-image: linear-gradient(#6292c2, #190a0d);
  }
.mainContent .table > thead > tr , .table > tbody > tr, .table > tfoot > tr, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{border-top: 0px; border-bottom: 1px solid #000;}
.mainContent .table > thead > tr , .table > tbody > tr, .table > tfoot > tr, .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th:first-child{border-top: 0px; border-bottom: 0px;}
.mainContent .table tr td:last-child{text-align: right;}
.mainContent .table tr td:first-child:before{width: 20px; color: green; height: 25px;}
